[Unit]
Description=Kiosk Proxy Daemon
Wants=graphical.target
After=graphical.target

[Service]
Type=simple
WorkingDirectory=/home/user/
ExecStart=/usr/bin/python3 /home/user/poluproxy.py
Restart=always
User=root
Group=root

[Install]
WantedBy=graphical.target
