[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target
After=kiosk-hw.service


[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/user/.Xauthority
Type=simple
ExecStart=/bin/bash /home/user/montel_kiosk/kiosk.sh
Restart=on-abort
User=user
Group=users

[Install]
WantedBy=graphical.target
